<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Suite"  parallel="methods" thread-count="6" data-provider-thread-count="6" >

  <test  name="chrome Test">
   <parameter name="browser" value="CHROME"></parameter>
    <classes>   
   <class name="com.Tab.runners.Runner_Chrome"/> 
    </classes>
  </test> 
   <test  name="dd Test">
   <parameter name="browser" value="firefox"></parameter>
    <classes>   
   <class name="com.Tab.runners.Runner_Chrome"/> 
    </classes>
  </test> 
  <listeners>
    <listener class-name="com.Tab.TestNGListeners.SetupListener"/>
    <listener class-name="com.Tab.TestNGListeners.SuiteListener"/>
    <listener class-name="com.Tab.TestNGListeners.InvokeMethod"/>
</listeners>
    
</suite> 

 